.env
.venv
/node_modules/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test

__pycache__/
data/
results/

.gepa_cache/
src/mcp/.cache/
**/node_modules/
**/agui_v2/frontend/node_modules/
